.liked-colorOn{
    fill: green;
}
.colorOff{
    fill: gray;
}
.disliked-colorOn{
    fill: red;
}
.thumb-sizeUp{
    width: 30px;
   
}
.thumb-size{
    width: 30px;
    margin-left: 400px ;
    
}
.Create-button{
    background-color: cornflowerblue;
    border-radius: 25px;
    position: absolute;bottom: 600px;
}
.name-box{
    border-radius: 10px;
    margin-bottom: 1em;
    margin-left: .3em;
    width: 400px;
    height: 30px;

}
.post-box{
    border-radius: 10px;
    margin-bottom: 1em;
    margin-left: 1em;
    width: 400px;
    height: 60px;
}
.feed{
    height: 200px;
    width: 450px;
    
}
.bullet{
    list-style-type: none;
}
.date-size{
    font-size: x-small;
    margin-left: -400px;
    margin-top: -50px;
}
.nav-textF{
  color:cornflowerblue;
}
.nav-textL{
  font-style: italic;
}